.App {
    text-align: center;
    font-family: 'Poppins',
        sans-serif;
}

.leftPanel {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    border-right: 1px solid lightgray;
}

.menuIcon {
    background-image: url('../images/menu.svg');
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    cursor: pointer;
}

.divPreview {
    width: 100%;
    /* background: red; */
    min-height: 100vh;
}

.divSubmit {
    height: 80px;
    width: 200px;
    background-color: #0071ff;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    line-height: 80px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    padding-left: 8px;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url('../images/right-arrow.svg');
    background-position: 94% 50%;
    background-size: 17px;
    background-repeat: no-repeat;
}

.divBody {
    left: 80px;
    top: 80px;
    position: relative;
    padding: 30px 120px;
    text-align: left;
}

.mainIcon {
    width: 74px;
    height: 20px;
    background-image: url('../images/welove.svg');
    background-repeat: no-repeat;
}

.labelInspiration {
    margin-top: 65px;
    color: gray;

}

.mainHeading {
    margin-top: 30px;
    font-size: 50px;
}

.button {
    width: 170px;
    float: left;
    padding: 16px 40px 16px 5px;
    color: #8E9AA7;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 30px;
    line-height: 19px;
    background: #fff;

}

.button1 {
    border: solid rgba(0, 0, 0, 0.07) 1px;
    background-image: url('../images/multiply.svg');
    background-repeat: no-repeat;
    background-size: 8px;
    /* padding: 16px 40px 16px 5px; */
    background-position: 85% 50%;
    margin-right: 20px;
}

.button2 {
    border: solid rgba(0, 0, 0, 0.07) 1px;
    background-image: url('../images/multiply.svg');
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: 85% 50%;
    margin-right: 10px;
}

.button3 {
    border: solid rgba(0, 0, 0, 0.07) 1px;
    background-image: url('../images/multiply.svg');
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: 85% 50%;
}

.button4 {
    border: solid rgba(0, 0, 0, 0.07) 1px;
    background-image: url('../images/multiply.svg');
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: 85% 50%;
}

.menu {
    background-image: url('../images/icon.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 95% 50%;
    color: white;
    padding: 16px 40px 16px 5px;
}

.png1 {
    height: 10px;
    width: 10px;
}

.tag {
    float: left;
    margin-right: 10px;
    line-height: 19px;
    padding: 16px 20px 16px 23px;

}

.button5 {
    color: #8E9AA7;
    padding: 16px 20px 16px 23px;
    line-height: 19px;
    float: left;
    font-size: 14px;
}

.img1 {
    height: 230px;
    width: 230px;
}

.img2 {
    height: 230px;
    width: 230px;
}

.img3 {
    height: 230px;
    width: 230px;
}

.img4 {
    height: 230px;
    width: 230px;
}

.img5 {
    height: 230px;
    width: 230px;
}

.img6 {
    height: 230px;
    width: 230px;
}

.image {
    display: inline-block;
    margin-left: 30px;

}

.a {
    float: left;
    margin-left: 80px;
    height: 310px;
}

.b {
    float: left;
    margin-left: 80px;
    height: 310px;
}

.c {
    float: left;
    margin-left: 80px;
    height: 310px;
}


.d {
    float: left;
    margin-left: 80px;
    height: 310px;
}

.e {
    float: left;
    margin-left: 80px;
    height: 310px;
}

.f {
    float: left;
    margin-left: 80px;
    height: 310px;
}

.p1 {
    color: #8E9AA7;
    padding-top: 10px;
}

.p2 {
    color: #8E9AA7;
    padding-top: 10px;
}

.p3 {
    color: #8E9AA7;
    padding-top: 10px;
}

.p4 {
    color: #8E9AA7;
    padding-top: 10px;
}

.p5 {
    color: #8E9AA7;
    padding-top: 10px;
}

.p6 {
    color: #8E9AA7;
    padding-top: 10px;
}

.foot {
    height: 50px;
    width: 100%;
    border-top: 1px solid lightgray;
    /* margin-bottom: px; */
}

.foot1 {
    float: left;
    margin-left: 250px;
    text-align: left;
    padding-bottom: 50px;
}

.foot2 {
    float: left;
    margin-left: 120px;
    text-align: left;
}

.foot3 {
    float: left;
    margin-left: 120px;
    text-align: left;
}

.foot4 {
    float: left;
    margin-left: 100px;
    text-align: left;
}

.a2 {
    color: #8E9AA7;
}

.a4 {
    color: #8E9AA7;
}

.a6 {
    color: #8E9AA7;
}

.a8 {
    color: #8E9AA7;
}

.d1 {
    color: red;
}

.d2 {
    color: green;
}

.d3 {
    color: rgb(182, 205, 50);
}

.d4 {
    color: blue;
}

.f1 {
    height: 120px;
    width: 250px;
}

.a9 {
    margin-left: -42px;
    margin-top: -16px;
}