.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* portfolio.css */
.portfolio1 {
  font-family: 'Open Sans', sans-serif;
}

.img1 {
  vertical-align: middle;
  margin-left: 10px;
}

.img2 {
  vertical-align: middle;
  margin-left: 160px;
}

.block {
  background: linear-gradient(#9B59B6 0%, #8E44AD 100%);
  background-size: 100% 100%;
  height: 665px;
  width: 1348px;
  margin-top: -23px;
}

.img3 {
  height: 24px;
  width: 28px;
  vertical-align: middle;
}

.img4 {
  height: 16px;
  width: 22px;
  vertical-align: middle;
}

.img26 {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}

.c2 {
  vertical-align: middle;
  text-decoration: none;
}

.img5 {

  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.c1 {
  vertical-align: middle;
  text-decoration: none;
  color: #F5F5F5;
}

.ss {
  vertical-align: middle;
  text-decoration: none;
}

.nav {
  color: white;
  padding-top: 80px;
}

.container1 {
  height: 80px;
  width: 295px;
  margin-left: 797px;
  color: white;
  margin-top: -29px;
  letter-spacing: 1px;
  font-size: 16px;
  text-decoration: none;
}

.a1 {
  margin-left: 160px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;


}

.a {
  letter-spacing: 1px;
  text-decoration: none;
}

.a2 {
  color: white;
  text-decoration: none;
  margin-top: -23px;
  font-size: 14px;
}

.a3 {
  color: white;
  text-decoration: none;
  margin-top: 9px;
  font-size: 14px;
}



.s1 {
  color: #FFBB00;
  font-size: 17px;
}

.s {
  font-size: 27px;
  vertical-align: middle;
  display: inline-block;
}

.container2 {
  height: 49px;
  width: 552px;
  margin-left: 200px;
  padding-top: 150px;

}

.p1 {
  color: white;
  font-size: 16px;
  letter-spacing: 3px;
}

.a {
  color: white;
}

.btn1 {
  height: 35px;
  width: 140px;
  border-radius: 2px;
  color: #8E44AD;
  margin-right: 14px;
  font-size: 14px;
  line-height: 19px;
  background: white;
  border: none;
  position: relative;
  /* padding-bottom: 5px; */
}

.btn2 {
  height: 35px;
  width: 140px;
  border-radius: 2px;
  color: #8E44AD;
  margin-right: 16px;
  font-size: 14px;
  background: white;
  border: none;
}

.btn3 {
  height: 35px;
  width: 140px;
  border: none;
  color: white;
  background-color: none;
  font-size: 16px;
}

.nav1 {
  overflow: hidden;
  background-color: white;
  position: relative;
  width: 300px;
  height: 100px;
  margin-left: 520px;
  /* box-shadow: 1px 1px #ccc; */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 240px;
  padding-top: 20px;
  color: #8E44AD;
  letter-spacing: 1px;
  position: relative;
  vertical-align: center;
}

.img6 {
  margin-left: 90px;
  height: 25px;
  width: 30px;
  vertical-align: middle;
}

.c3 {
  vertical-align: middle;
}

.img7 {
  /* height: 70px;
  width: 30px; */
  margin-left: 150px;
  padding-top: 8px;
}

.img27 {
  height: 12px;
  width: 20px;
}

.img28 {
  vertical-align: middle;
}

.img29 {
  height: 23px;
  vertical-align: middle;
}

.img30 {
  height: 16px;
  width: 19px;
  vertical-align: middle;
}

.section2 {
  margin-top: 200px;
}

.img8 {
  width: 450px;
  height: 320px;
  background-image:
    linear-gradient(rgba(195, 0, 255, 0.45), rgba(116, 23, 116, 0.45)),
    url("http://www.ontwerpmijndomein.nl/images/blog/BlogWebsiteRedesign.jpg");
  background-repeat: no-repeat;
  background-size: 450px, 450px;
  margin-left: 230px;
  border-radius: 2px;

}

.heading1 {
  height: 280px;
  width: 431px;
  margin-left: 730px;
  margin-top: -318px;
  font-size: 15px;
  line-height: 24px;
  /* color: Solid #000000; */
}

.block2 {
  width: 900px;
  height: 300px;
}

.s2 {
  color: Solid rgba(95, 92, 92, 0.6);
  font-size: 13px;
  font-weight: 500;
  height: 65px;
  width: 50px;

}

.img9 {
  width: 450px;
  height: 320px;
  background-image:
    linear-gradient(rgba(195, 0, 255, 0.45), rgba(116, 23, 116, 0.45)),
    url("http://www.ontwerpmijndomein.nl/images/blog/BlogWebsiteRedesign.jpg");
  background-repeat: no-repeat;
  background-size: 450px, 450px;
  margin-left: 720px;
  border-radius: 2px;
  /* rotation-point: 50% 50%;
  rotation: 180deg; */
  /* transform: rotate(360deg); */
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: blur(1px);

}

.heading2 {
  height: 300px;
  width: 431px;
  margin-left: 230px;
  margin-top: -315px;
  font-size: 15px;
  line-height: 25px;
  color: black;
  /* color: Solid #0a0909; */
}

.block3 {
  width: 900px;
  height: 300px;
  margin-top: 150px;
}

.s3 {
  color: Solid rgba(97, 89, 89, 0.6);
  font-size: 13px;
  font-weight: 500;

}

.img10 {
  position: absolute;
  margin-left: 700px;
  padding-top: 134px;
  height: 17px;
  width: 20px;
  color: #F5F5F5;
}

.heading3 {
  margin-left: 654px;
  /* padding-top: 100px; */
  color: white;
  height: 20px;
  width: 113px;
  font-size: 13px;
  padding-top: 158px;
  position: absolute;
}

.block4 {
  background-size: 100% 100%;
  height: 180px;
  background: #F5F5F5;
  margin-top: 100px;

}

.image {
  float: left;
  margin-left: 130px;
  margin-top: 70px;
}

.img11 {
  float: left;
  margin-left: 60px;
}

.img12 {
  float: left;
  margin-left: 60px;
}

.img13 {
  float: left;
  margin-left: 60px;
}

.img14 {
  float: left;
  margin-left: 60px;
}

.img15 {
  float: left;
  margin-left: 60px;
}

.img16 {
  float: left;
  margin-left: 60px;
}

.img17 {
  float: left;
  margin-left: 60px;
}

.section3 {
  margin-top: 140px;
}

.img18 {
  margin-left: 590px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.heading4 {
  color: #8E44AD;
  letter-spacing: 2px;
  font-weight: 500;

}

.box1 {
  height: 35px;
  width: 280px;
  background-color: rgba(142, 68, 173, 0.2);
  border: none;
  margin-left: 370px;
  margin-top: 60px;
  font-size: 13px;
  padding-left: 20px;
}

.box2 {
  height: 35px;
  width: 280px;
  background-color: rgba(142, 68, 173, 0.2);
  border: none;
  margin-left: 20px;
  margin-top: 60px;
  font-size: 13px;
  padding-left: 20px;
}

.f2 {
  width: 600px;
  height: 150px;
  background-color: rgba(142, 68, 173, 0.2);
  margin-top: 20px;
  margin-left: 370px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 15px;
}

.btn4 {
  width: 622px;
  height: 35px;
  background-color: #8E44AD;
  margin-left: 370px;
  border: none;
  margin-top: 15px;
  color: #F5F5F5;
  font-size: 14px;
}

.foot {
  margin-top: 100px;
  margin-left: 308px;
}

.block5 {
  background-size: 100% 100%;
  height: 100px;
  background: #F5F5F5;
  margin-top: 50px;
}

.img19 {
  margin-left: 73px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.img20 {
  margin-left: 73px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.img21 {
  margin-left: 73px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.img22 {
  margin-left: 73px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.img23 {
  height: 17px;
  width: 17px;
}

.f3 {
  color: #0077B5;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.f4 {
  color: #181717;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.f5 {
  color: #3B5998;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.f6 {
  color: #1DA1F2;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.final {
  margin-top: 150px;
  margin-left: 320PX;
}

.f7 {
  color: #8E44AD;
  font-size: 14px;
  font-weight: 500;
}

.s1 {
  height: 62px;
  width: 62px;
}

.s2 {
  height: 47px;
  width: 47px;
}

.s3 {
  height: 58px;
  width: 58px;
}

.s4 {
  height: 40px;
  width: 80px;
  margin-top: 15px;
}

.s5 {
  height: 58px;
  width: 65px;
}

.s6 {
  height: 70px;
  width: 160px;
}

.s7 {
  height: 90px;
  width: 120px;
}

.top1 {
  font-size: 10px;
  margin-left: 14px;
  font-weight: 900;
}