.block {
    /* background-color: #9B59B6; */
    background: linear-gradient(#9B59B6 0%, #8E44AD 100%);
    background-size: 100% 100%;
    height: 640px;
    margin-top: -5px;

}

.nav {
    color: white;
    padding-top: 80px;
}

.container1 {
    height: 80px;
    width: 290px;
    margin-left: 600px;
    color: white;
}

.a1 {
    margin-left: 200px;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;

}

.a {
    letter-spacing: 1px;
}

.a2 {
    color: white;
}

.a3 {
    color: white;
}

/* .b1 {
    margin-left: 20px;
    padding-left: 10px;
  } */

.img1 {
    background-image: url('./image/cap.svg');
    background-position: 94% 50%;
    background-size: 17px;
    background-repeat: no-repeat;
}

/* .img1 {
    width: 16px;
    height: 24px;
} */

.img2 {
    width: 16px;
    height: 24px;
    margin-left: 130px;
}

.s1 {
    color: #FFBB00;
}

.container2 {
    height: 49px;
    width: 552px;
    margin-left: 200px;
    padding-top: 180px;

}

.p1 {
    color: white;
    font-size: 27px;
    letter-spacing: 3px;
}

.a {
    color: white;
}

.btn1 {
    height: 35px;
    width: 140px;
    border-radius: 3px;
    color: #8E44AD;
    margin-right: 14px;
    font-size: 16px;
    background: white;
    border: none;

}

.btn2 {
    height: 35px;
    width: 140px;
    border-radius: 3px;
    color: #8E44AD;
    margin-right: 14px;
    font-size: 16px;
    background: white;
    border: none;
}

.btn3 {
    height: 35px;
    width: 140px;
    border: none;
    color: white;
    background-color: none;
    font-size: 16px;
}

.nav1 {
    overflow: hidden;
    background-color: white;
    position: relative;
    width: 300px;
    height: 100px;
    margin-left: 520px;
    /* box-shadow: 1px 1px #ccc; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 255px;
    padding-top: 20px;
    color: #8E44AD;
    letter-spacing: 3px;
}

.img6 {
    margin-left: 95px;

}

.img7 {
    margin-left: 155px;
    padding-top: 8px;
}

.section2 {
    margin-top: 200px;
}

.img8 {
    width: 450px;
    height: 320px;
    background-image:
        linear-gradient(rgba(195, 0, 255, 0.45), rgba(116, 23, 116, 0.45)),
        url("http://www.ontwerpmijndomein.nl/images/blog/BlogWebsiteRedesign.jpg");
    background-repeat: no-repeat;
    background-size: 450px, 450px;
    margin-left: 230px;
    border-radius: 2px;

}

.heading1 {
    height: 320px;
    width: 431px;
    margin-left: 730px;
    margin-top: -320px;
    font-size: 15px;
    line-height: 25px;
    /* color: Solid #000000; */
}

.block2 {
    width: 900px;
    height: 300px;
}

.s2 {
    color: Solid rgba(95, 92, 92, 0.6);
    font-size: 13px;
    font-weight: 500;

}

.img9 {
    width: 450px;
    height: 320px;
    background-image:
        linear-gradient(rgba(216, 144, 238, 0.45), rgba(116, 23, 116, 0.45)),
        url("http://www.ontwerpmijndomein.nl/images/blog/BlogWebsiteRedesign.jpg");
    background-repeat: no-repeat;
    background-size: 450px, 450px;
    margin-left: 720px;
    border-radius: 2px;
    /* rotation-point: 50% 50%;
    rotation: 180deg; */
    /* transform: rotate(360deg); */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: blur(1px);

}

.heading2 {
    height: 300px;
    width: 431px;
    margin-left: 230px;
    margin-top: -315px;
    font-size: 15px;
    line-height: 25px;
    color: black;
    /* color: Solid #0a0909; */
}

.block3 {
    width: 900px;
    height: 300px;
    margin-top: 150px;
}

.s3 {
    color: Solid rgba(97, 89, 89, 0.6);
    font-size: 13px;
    font-weight: 500;

}

.img10 {
    position: absolute;
    margin-left: 700px;
    padding-top: 134px;
}

.heading3 {
    margin-left: 654px;
    /* padding-top: 100px; */
    color: white;
    height: 20px;
    width: 113px;
    font-size: 13px;
    padding-top: 158px;
    position: absolute;
}

.block4 {
    background-size: 100% 100%;
    height: 180px;
    background: #F5F5F5;
    margin-top: 100px;

}

.image {
    float: left;
    margin-left: 130px;
    margin-top: 70px;
}

.img11 {
    float: left;
    margin-left: 60px;
}

.img12 {
    float: left;
    margin-left: 60px;
}

.img13 {
    float: left;
    margin-left: 60px;
}

.img14 {
    float: left;
    margin-left: 60px;
}

.img15 {
    float: left;
    margin-left: 60px;
}

.img16 {
    float: left;
    margin-left: 60px;
}

.img17 {
    float: left;
    margin-left: 60px;
}

.section3 {
    margin-top: 140px;
}

.img18 {
    margin-left: 590px;
    height: 20px;
    width: 20px;
}

.heading4 {
    color: #8E44AD;
    letter-spacing: 2px;
    font-weight: 500;

}

.box1 {
    height: 35px;
    width: 280px;
    background-color: rgba(142, 68, 173, 0.2);
    border: none;
    margin-left: 370px;
    margin-top: 60px;
    font-size: 13px;
    padding-left: 20px;
}

.box2 {
    height: 35px;
    width: 280px;
    background-color: rgba(142, 68, 173, 0.2);
    border: none;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 13px;
    padding-left: 20px;
}

.f2 {
    width: 600px;
    height: 150px;
    background-color: rgba(142, 68, 173, 0.2);
    margin-top: 20px;
    margin-left: 370px;
    border: none;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 15px;
}

.btn4 {
    width: 600px;
    height: 35px;
    background-color: #8E44AD;
    margin-left: 370px;
    border: none;
    margin-top: 15px;
    color: #F5F5F5;
    font-size: 14px;
}

.foot {
    margin-top: 100px;
    margin-left: 308px;
}

.block5 {
    background-size: 100% 100%;
    height: 250px;
    background: #F5F5F5;
    margin-top: 50px;
}

.img19 {
    margin-left: 73px;
}

.img20 {
    margin-left: 73px;
}

.img21 {
    margin-left: 73px;
}

.img22 {
    margin-left: 73px;
}

.f3 {
    color: #0077B5;
    font-weight: 500;
    font-size: 14px;
}

.f4 {
    color: #181717;
    font-weight: 500;
    font-size: 14px;
}

.f5 {
    color: #3B5998;
    font-weight: 500;
    font-size: 14px;
}

.f6 {
    color: #1DA1F2;
    font-weight: 500;
    font-size: 14px;
}

.final {
    margin-top: 150px;
    margin-left: 320PX;
}

.f7 {
    color: #8E44AD;
    font-size: 14px;
    font-weight: 500;
}

.s1 {
    height: 62px;
    width: 62px;
}

.s2 {
    height: 47px;
    width: 47px;
}

.s3 {
    height: 58px;
    width: 58px;
}

.s4 {
    height: 40px;
    width: 80px;
    margin-top: 15px;
}

.s5 {
    height: 58px;
    width: 65px;
}

.s6 {
    height: 70px;
    width: 180px;
}

.s7 {
    height: 70px;
    width: 140px;
}

.top1 {
    font-size: 10px;
    margin-left: 14px;
    font-weight: 900;
}